@import "@app/main.scss";

* {
  box-sizing: border-box;
}

.header-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1045;
  padding-top: 40px;
  transition-duration: 0.3s;

  .container {
    width: 100%;
    max-width: 1240px;
    padding-inline: 15px;
    margin-inline: auto;

    .row {
      display: flex;
      flex-wrap: wrap;
      min-height: -15px;

      .col {
        flex: 0 0 33.33333%;

        img {
          width: 207px;
          height: 72px;
          transition-duration: 0.3s;
        }
      }
      .col:nth-child(2) {
        padding-inline: 15px;
        padding-top: 18px;
        position: relative;
        width: 100%;

        .mega-menu-wrap {
          height: 36px;
         width: 100%;

         .mega-menu-toggle {
          display: none;
         }
         .mega-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          width: 100%;
          font-size: 14px;
          color: $headingColor;

          .mega-menu-item {
           // flex: 1;

          .mega-indicator {
            display: inline-block;
            width: auto;
            background: transparent;
            font-family: dashicons;
            position: relative;
            pointer-events: auto;
            left: auto;
            min-width: auto;
            font-size: inherit;
            padding: 0;
            margin: 0 0 0 6px;
            height: auto;
            line-height: inherit;
            color: inherit;
        }

          .mega-indicator::after {
            content: #{'"' + \F140 + '"'};
            font-weight: normal;
            display: inline-block;
            margin: 0;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: rotate(0);
            color: inherit;
            position: relative;
            background: transparent;
            height: auto;
            width: auto;
            right: auto;
            line-height: inherit;
        }

           .mega-sub-menu {
            display: none;
           }
          } 
         }
        }
      }
    }
  }
}

.f-nav {
  background-color: var(--header-background);
  padding-bottom: 8px;
  padding-top: 8px;

  .row {
    .col {
      img {
        height: 45px !important;
        width: auto !important;
      }
    }
  }
}
